.generic-card-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;

    h1 {
        text-align: center;
    }

    img {
        width: 100%;
    }

    .date {
        color: gray;
        font-size: smaller;
        text-align: right;
    }

}

.event {
    max-width:400px
}