.swipe-up-button {
    background-color: #7FB986;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    min-height: 30px;
    text-align: center;
    text-justify: center;
    align-content: center;
    align-items: center;
    min-width: 100%;
    
    border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 5px;


    :hover {
        background-color: #8FCA97;
    }

    .menu-button {
        text-align: center;
        text-justify: center;
        align-content: center;
        align-items: center;
        margin: auto;
        padding: auto;
        max-height: 30px;
        min-height: 25px;
        border-radius: 10%;
        border-width: 2px;
        border-color: darkgreen;
        // border-style: solid;
        // background-color: rgba(0, 100, 0, 0.363);

        .button-content {
            text-align: center;
            text-justify: center;
            align-content: center;
            align-items: center;
            margin: auto;
            padding: auto;
            max-height: 30px;
            min-height: 25px;
            color: darkgreen;
        }
    }
}
