.simple-action-page{
    position: fixed; 
    top: 0; 
    left: 0; 
    
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    background-image: url('.\\images\\farm.jfif') ; 
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-columns: 30px minmax(0,1fr) 30px;
    grid-template-rows: 15px minmax(0,auto) 15px;
    grid-template-areas: 
        ". . . "
        ". card ."
        ". . . ";

    justify-content: stretch;
    justify-items: stretch;
    justify-content: stretch;
    align-items: stretch;
    overflow: hidden;

    .action-card{
    
        max-height: 100%;
        grid-area: card;
        background: linear-gradient(180deg, #999999 0%, #DFDFDF 6.25%, #959392 58.85%, #C5C5C5 75%, #A6A6A6 100%);
    
        display: grid;
        grid-template-columns: 10px minmax(0,1fr) 10px;
        grid-template-rows: 10px minmax(0,1fr) 10px;
        grid-template-areas: 
            ". . . "
            ". content ."
            ". . . ";
    
        justify-content: stretch;
        justify-items: stretch;
        justify-content: stretch;
        align-items: stretch;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    
        
        .action-card-container{
            grid-area: content;
            background-color: white;
            
            margin: 10px;
            
            overflow: hidden;
            overflow-y: scroll;
            
        }
    }
}






