.sign-in {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  // width: 80vw;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    // flex-flow: row wrap;
    // justify-content: space-evenly;
    // margin-bottom: 10px;
    flex-direction: column;
  }
}
