.setreminder {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    input {
        width: 100%;
    }
}

.form-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    text-justify: left;
}