google-cast-launcher {
    float: right;
    margin: 10px 6px 14px 0px;
    width: 40px;
    height: 32px;
    opacity: 0.7;
    background-color: #000;
    border: none;
    outline: none;
}
    
google-cast-launcher:hover {
    --disconnected-color: grey;
    --connected-color: green;
}

#cast-button {
    --disconnected-color: grey;
    --connected-color: green;
}