.checkout-page {
  width: 85%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgray;

    .header-block {
      text-transform: capitalize;
      width: 20%;

      &:last-child {
        width: 10%;
      }
    }
  }
}
.total-wrap {
  text-align: end;
}
.total {
  margin-top: 30px;
  margin-left: auto;
  font-size: 28px;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  padding: auto;
  button { margin: auto;}

}