.library-menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

    border-bottom: 2px solid black;

    .topic-item {

        display: flex;
        flex-direction: column;
        height: 100px;
    }

    .topic-item img{
        height: 50px;
        width: 50px;
        margin: 10px;
    }
}