.iframe{
    position: relative;
    
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-content: center;
    overflow-x: hidden;
    overflow-y: hidden;

    .frame {
        width: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    img {
        max-height: 200px;
    }
}

.delete {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: right;
    background-color: white;
    border-radius: 20%;
}