.loader {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    width: 100%;

    img {
        margin: auto;
    }
}

.full-screen-loading {
    position: absolute;
    left: 0;
    top: 0;
    
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    // filter: blur(8px);
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-self: center;
    align-items: center;
    
}