.main-page{
    position: fixed; 
    top: 0; 
    left: 0; 
    
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    background-image: url('.\\images\\farm.jfif') ; 
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-columns: 6px minmax(0,1fr) 6px;
    grid-template-rows: 6px minmax(0,auto);
    grid-template-areas: 
        ". . . "
        ". stage .";

    justify-content: stretch;
    justify-items: stretch;
    justify-content: stretch;
    align-items: stretch;
    overflow: hidden;
    
    .stage {
        max-height: 100%;
        grid-area: stage;
        background: linear-gradient(180deg, #999999 0%, #DFDFDF 6.25%, #959392 58.85%, #C5C5C5 75%, #A6A6A6 100%);
    
        display: grid;
        grid-template-columns: minmax(0,1fr);
        grid-template-rows: minmax(0,1fr) 40px;
        grid-template-areas: 
            "content"
            "menubar";
    
        justify-content: stretch;
        justify-items: stretch;
        justify-content: stretch;
        align-items: stretch;
        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.25);
        border-radius: 5px;

        .content {
            grid-area: content;
            background-color: white;
            
            margin: 6px;
            
            overflow: hidden;
            overflow-y: scroll;
        }
        
        .menubar {
            grid-area: menubar;
            padding: 0px 6px;
        }
        
    }


}

