.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgray;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;
}
.image-container {
  width: 20%;
  padding-right: 15px;
}

.name {
  margin: 10px;
}

.amount {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
}

.remove-button {
  padding-left: 12px;
  cursor: pointer;
}

.cart-img {
  height: 100px;
}

.img-wrap {
  width: 100%;
}

.arrow {
  cursor: pointer;
}

.right {
  text-align: right;
}

.value {
  margin: 0 10px;
}
