.sign-up {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  // width: 80vw;

  .title {
    margin: 10px 0;
  }

  .error-message {
    color: red;
    font-size: smaller;
  }
}
