/*reset all */
* {
    font-family: 'Alata', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

.app {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
}