* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  min-width: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Alata', 'sans-serif',
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
