.divider-container {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.divider-border {
  border-bottom: 1px solid #dfdfdf;
  width: 100%;
}

.divider-content {
  padding: 0 10px 0 10px;
  color: #7fb986;
  font-weight: bold;
}
